/* UNCOMMENT TO DEBUG*/


/*
body { margin: 30px; }

body * { border: 1px solid red; }
*/

body {
    background-color: #263238;
    margin-top: 51px;
}

.main-container {
    margin-top: 40px;
    height: 100%;
}

.upvotes-icons {
    display: inline-block;
}

.rows {}

.two-img-row {
    margin-top: 1%;
}

.img-container {
    margin-top: 1%;
}


/*.img-comments{
    margin-top: 1%;
}*/

.comment-text {
    margin-top: 1%;
}

.single-comment {
    margin-top: 1%;
}

.img-icons {
    font-size: 2em;
    float: none;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    align-self: flex-end;
}

.image-container {
    background-color: black;
    /*overflow: hidden;*/
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    padding-right: 2px;
    padding-left: 2px;
    color: aliceblue;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /*text border*/
    /*overflow: hidden;*/
}

.img-tools {
    font-size: 2em;
    margin-bottom: 15px;
}

.img-responsive {
    display: block;
    margin: auto;
    max-width: 100%;
}

#brand-image {
    height: 25px;
    width: auto;
}

#index-image-title {
    font-size: 150%;
}

.btn-default {
    background-color: #CFD8DC;
}

.btn-default:hover {
    background-color: #455A64;
    ;
    color: #ECEFF1;
}

.form-control {
    background-color: #ECEFF1;
}

.ikonit:hover {
    color: #263238;
}

.ikonit {
    color: #455A64;
}

.icon-bar {
    background-color: #455A64;
}


/* single image view css */

.napit {
    margin-top: 2px;
    font-size: 25px;
    margin-left: 3px;
}

#title-vis-sm {
    font-size: 25px;
}

#title-vis-xs {
    font-size: 14px;
}

#title-vis-lg {
    font-size: 30px;
}

#title-vis-md {
    font-size: 30px;
}

#user-vis-md {
    font-size: 30px;
}

#user-vis-xs {
    font-size: 14px;
}

#user-vis-sm {
    font-size: 25px;
}

.row {
    margin: 0px;
}

.singleImage {
    /*padding-top: 51px;*/
    max-width: 100%;
    max-height: 84vh;
}

#imagecontainer {
    background-color: black;
}

.imagetitle {
    padding-right: 2%;
    padding-left: 2%;
    color: white;
    /*padding-top: 61px;*/
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: Century Gothic, sans-serif;
    /*background-color: #263238;*/
    background-color: #37474F;
    font-size: 5%;
}


/*.imagetitle p{
    background-color: #37474F;
    border-radius: 10px;
}*/

.imageinfo {
    padding-right: 2%;
    padding-left: 2%;
    color: white;
    padding-top: 0.5%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: Century Gothic, sans-serif;
    background-color: #263238;
}

.imageinfo h3 {
    background-color: #37474F;
    font-size: 19px;
    padding-left: 0.5%;
    border-radius: 10px;
    padding: 10px;
}

.imageinfo h4 {
    background-color: #37474F;
    font-size: 19px;
    padding-left: 0.5%;
    border-radius: 10px;
    padding: 10px;
}

.imageinfo h2 {
    background-color: #37474F;
    font-size: 19px;
    padding-left: 0.5%;
    border-radius: 10px;
    padding: 10px;
}

.imageinfo p {
    background-color: #37474F;
    font-size: 15px;
    padding-left: 0.5%;
    border-radius: 10px;
    padding: 10px;
}

.kommentit p {
    color: white;
    font-family: Century Gothic, sans-serif;
    font-size: 15px;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

.kommenttibox {
    margin-top: 3px;
    background-color: #37474F;
    border-radius: 10px;
    /*padding-left: 50px;
    padding-right: 50px;*/
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 25px;
    line-height: 1.428571429;
    border-radius: 25px;
}

.btn-circle span {
    padding-top: 5px;
}

.btn-circle:first-child {
    padding-top: 7px;
    padding-right: 2px;
}

#share-buttons a {
    width: 50px;
    height: 50px;
}

#share-buttons a img {
    width: inherit;
    height: inherit;
}

.search-form {
    margin-top: 7px;
}

@font-face {
    font-family: cane;
    src: url(caneletter.otf);
}

#brandi {
    font-family: cane;
    color: #263238;
}

.imageinfo-desc {
    padding-right: 2%;
    padding-left: 2%;
    color: white;
    padding-top: 0.5%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: Century Gothic, sans-serif;
    background-color: #263238;
}

.image-title {
    margin-top: 10px;
}

.image-uploader {
    margin-top: 10px;
    margin-bottom: 10px;
}

.prev-next-media {
    background-color: #37474F;
    font-family: Century Gothic, sans-serif;
    text-align: center;
}

#next {
    width: 120px;
}

#previous {
    width: 120px;
}

#imagedesc {
    font-size: 30px;
}

/* MEDIA QUERYSS */

@media (max-width: 320px) {
    #next {
        width: 90px;
        font-size: 14px;
    }
    #previous {
        width: 90px;
        font-size: 14px;
    }
    #imagedesc {
        font-size: 15px;
    }
    #filters {
        font-size: 18px;
    }
}
@media (max-width: 415px) and (min-width: 325px){
    #imagedesc{
        font-size: 24px;
    }
}
