    .modal-content {
        background-color: #35444b;
        color: #ECEFF1;
}

.modal-body{
    background-color: #263238;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: grey;
    cursor: inherit;
    display: block;
}

#brand-image {
    height: 25px;
    width: auto;
}

#index-image-title {
    font-size: 150%;
}

.nav li {
    display: inline-block;
}

.nav button {
    margin-top: 8px;
    padding-right: 10px;
}

.navbar {
    background-color: #ECEFF1;
    border-radius: 0;
}

.btn-default {
    background-color: #CFD8DC;
}

.btn-default:hover {
    background-color: #455A64;
    ;
    color: #ECEFF1;
}

.form-control {
    background-color: #ECEFF1;
}

.ikonit:hover {
    color: #263238;
}

.ikonit {
    color: #455A64;
}

.icon-bar {
    background-color: #455A64;
}

.img-thumbnail {
    background-color: #37474F;
    border: 2px solid #37474F;
}

.navbar-right {
    margin-right: 0px;
}

.logbutton {
    padding-right: 8px;
    padding-top: 2px;
}

.media-filters {
    margin-left: 5px;
}


/*meedia query
@media (min-width: 100px) and (max-width: 956px) {
   #bs-example-navbar-collapse-1 {
       display: none !important;
   }
}*/


/*@media (min-width: 768px) and (max-width: 956px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}*/

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

}

#brandi{
    font-family: cane;
    color: #263238;
}

    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav li{
    display: inline-block;
}


.nav button:hover{
    background-color: #455A64;
    color: #ECEFF1;
} 
/* new navbar colors and stuff */
.navbar{
    background-color: #ECEFF1;
}
    .navbar-right{
    margin-right: 0px;
}
    .container-fluid{
    padding: 0px;
}
    .row {
    margin: 0px;
}
    .navbar-brand{
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-toggle{
        margin-right: 20px;
    }
    .btn-group-wrap{
        text-align:center;
    }

.close {
    color: #ECEFF1;
    opacity: 1;
}

#registerform input{
    color: black;
}