/* UNCOMMENT TO DEBUG*/

/*
body { margin: 30px; }

body * { border: 1px solid red; }
*/
body{
    background-color: #263238;
    margin-top:51px;
}
.main-container{
    height: 100%;
}

.upvotes-icons{
    display: inline-block;
}
.rows{
    margin-left: 10%;
}
}
.img-container{
    margin-top: 1%;
}
/*.img-comments{
    margin-top: 1%;
}*/
.comment-text{
    margin-top: 1%;
}
.single-comment{
    margin-top: 1%;
}
.img-icons{
    font-size: 2em;
    float: none;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    align-self: flex-end;
    
}


.image-container{
    overflow: hidden;
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    padding-right: 2px;
    padding-left: 2px;
    color: #ECEFF1;
    text-shadow: -2px 0 #212121, 0 2px #212121, 2px 0 #212121, 0 -2px #212121
;/*text border*/
    /*overflow: hidden;*/
}

.box-for-img{
    height:25em;
}

.box-for-img img{
    overflow: hidden;
    object-fit: cover;
}

.img-responsive{
    display: block;
    margin: auto;
    max-width: 100%;
}

.first-img{
    height: 100%;
    width: 100%;
}

.jumbotron{

    border-radius: 0px;
    width: 100%;
    height: 12em;
    font-family: Century Gothic, sans-serif;
    background: url("../images/jumbotron3_copy.png");
    border-bottom: 2px solid rgba(55, 71, 79, 1);
    border-bottom: 2px solid rgba(55, 71, 79, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    background-repeat: no-repeat;
    background-size: cover;
}

#loadMoreButton{
    margin-bottom: 5%;
    margin-top: 5%;
}

#loadMoreButton span{
    padding-top: 3px;
}
/* new navbar colors and stuff */


/* single image view css */

@font-face{
    font-family: cane;
    src: url(caneletter.otf);
}

#brandi{
    font-family: cane;
    color: #263238;
}
#searchTerms{
     border-radius: 10px;
    height: 100%;
    font-family: Century Gothic, sans-serif;
}
/* MEDIA QUERYS AFTER HERE ONLYY
MAINLY FOR MOBILE SCREENS iPhone 4 and 6+
 */

@media (max-width: 320px) {
    .box-for-img{
        height: 14em;
    }
    #searchTerms{
        font-size: 15px;
    }
    .jumbotron h2{
        font-size: 15px;
    }
    .jumbotron{
       /* background: none;*/
        width: 100%;
        height: 8em;
        border-radius: 0px;
        /*border-bottom: none;*/
    }

}
@media (max-width: 415px) and (min-width: 325px){
    .box-for-img{
        height: 22em;
    }
}
