<div class="col-xs-6 img-tools pull-left">

    <button type="button" id="bigLike" class="napit btn btn-default btn-circle hidden-xs napit-like" ng-click="like()"><span class="glyphicon glyphicon glyphicon-heart "></span></button><button type="button" class="napit btn btn-default btn-circle hidden-sm hidden-lg hidden-md napit-like" ng-click="like()" style="width:35px;height:35px;font-size:20px;padding-bottom:15px;padding-top:0px;padding-right:0px"><span class="glyphicon glyphicon glyphicon-heart"></span></button><a ng-href="{{singleMainImagePath}}" download=""><button type="button" class="napit btn btn-default btn-circle hidden-xs"><span class="glyphicon glyphicon-download-alt"></span></button></a><a ng-href="{{singleMainImagePath}}" download=""><button type="button" class="hidden-lg hidden-md hidden-sm napit btn btn-default btn-circle" style="width:35px;height:35px;font-size:20px;padding-bottom:15px;padding-top:0px"><span class="glyphicon glyphicon-download-alt"></span></button></a><button type="button" id="isocom" class="napit btn btn-default btn-circle hidden-xs napit-comment" ng-click="toggleCommenting()"><span class="glyphicon glyphicon-comment"></span></button><button type="button" id="pienicom" class="napit btn btn-default btn-circle hidden-sm hidden-lg hidden-md napit-comment" ng-click="toggleCommenting()" style="width:35px;height:35px;font-size:20px;padding-bottom:10px;padding-top:0px"><span class="glyphicon glyphicon-comment"></span></button>

</div>