<div class="col-xs-12">

    <!-- MOODAAAALLLL -->

    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">{{loginModalHeader}} Beer is Here</h3>

                </div>
                <div class="modal-body">
                    <!--VISIBLE LOGIN FORM-->
                    <div id="login-modal-login-form" ng-submit="login()">
                        <form id="loginForm" ng-submit="login()">

                            Username:
                            <br>
                            <input type="text" name="username" placeholder="Username" ng-model="login_username" class="form-control" ng-submit="login()">
                            <br> Password:
                            <br>
                            <input class="form-control" type="password" name="password" placeholder="Password" ng-model="login_password" ng-submit="login()">
                            <br>
                            <input type="submit" class="btn btn-default" ng-click="login()" value="Login">

                        </form>
                        <br>

                        <!--text and icon for success and failure of login-->
                        <div style="color:red" ng-show="loginFail" style="display:inline-block">
                            <span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; padding-top:15px"></span>
                            <p style="display:inline-block">Wrong username or password</p>
                        </div>
                        <div style="color:#0aee25" ng-show="loginSucc" style="display:inline-block">
                            <span style="display:inline-block" class="glyphicon glyphicon-ok" aria-hidden="true" style="color:red; padding-top:15px"></span>
                            <p style="display:inline-block">Login succesful!</p>
                        </div>
                    </div>
                    <!--  AT FIRST HIDDEN REGISTER FORM-->
                    <div id="login-modal-register-form">
                        <form id="registerform" ng-submit="register()">
                            Username:
                            <br>
                            <input type="text" name="username" placeholder="Username" ng-model="register_username">
                            <br>
                            <br> Password:
                            <br>
                            <input type="password" name="password" placeholder="Password" ng-model="register_password">
                            <br>
                            <br> E-mail:
                            <br>
                            <input type="email" name="email" name="email" placeholder="example@jmail.com" ng-model="register_email">
                            <br>
                            <br>
                            <input type="submit" class="btn btn-default" ng-click="register()" value="Register">
                        </form>
                        <br>
                        <div style="color:red" ng-show="registerFail" style="display:inline-block">
                             <span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; padding-top:15px"></span> 
                            <p style="display:inline-block">{{regFailMessage}}</p>
                        </div>
                        
                        <div style="color:#0aee25" ng-show="registerSucc" style="display:inline-block">
                             <span style="display:inline-block" class="glyphicon glyphicon-ok" aria-hidden="true" style="color:red; padding-top:15px"></span> 
                            <p style="display:inline-block">User creation successful!</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">


                    <a class="pull-left row" href="#" id="login-modal-register-btn" style="color:lightblue;margin-left:0px" ng-click="toggleRegister()">{{reglogText}}</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--END MODAAAAAALLLLL-->

</div>