<nav class="navbar navbar-default navbar-fixed-top" id="jeeben">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand align-center" href="index.html" ng-click="deletePreviousData()" style="display:inline-block">
                <div id="brandi"><img id="brand-image" src="favicon.ico" /> <span style="font-size:22px">Beer is here!</span></div>
            </a>
            <div class="pull-right navbar-header visible-sm visible-xs">
            <!--REFRESH AND UPLOAD BUTTON-->
            <ul class="nav navbar-nav list-inline">
                <li ng-click="openUpload()" class="ubpieni" id="uploadButton"><a href="#"><span class="ikonit glyphicon glyphicon-open"></span></a></li>
                <li class="navbar-non-collapse" ng-click="goBack()"><a href="#"><span class="ikonit glyphicon glyphicon-arrow-left"></span></a></li>
            </ul>
        </div>

        </div>

        <div class="pull-right navbar-header hidden-sm hidden-xs">
            <!--REFRESH AND UPLOAD BUTTON-->
            <ul class="nav navbar-nav list-inline">
                <li ng-click="openUpload()" class="ubiso" id="uploadButton"><a href="#"><span class="ikonit glyphicon glyphicon-open"></span></a></li>
                <li class="navbar-non-collapse" ng-click="goBack()"><a  href="#"><span class="ikonit glyphicon glyphicon-arrow-left"></span></a></li>
            </ul>
        </div>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!--<div class="btn-group btn-group-lg">
            <ul style="padding-top:3px" class="navbar-nav nav" role="group" aria-label="...">
                <li><button id="mediaAll" ng-click="loadAll()" type="button" class="active btn btn-default media-type-button">All</button></li>
                <li><button id="mediaImage" ng-click="loadImage()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture media-type-button"></span></button></li>
               <li> <button id="mediaVideo" ng-click="loadVideo()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-facetime-video media-type-button"></span></button></li>
               <li> <button id="mediaAudio" ng-click="loadAudio()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-headphones media-type-button"></span></button></li>

            </ul>
            </div>-->

            <!--media type filter buttons-->
            <!-- buttons that are displayed in mobile-->
            <!--removed for image page view
            <div class="btn-group-wrap visible-xs visible-sm">
            <div style="padding-top:2px" class="btn-group btn-group-lg media-filters row" role="group" aria-label="...">
                <button id="mediaAll" ng-click="loadAll()" type="button" class="active btn btn-default media-type-button">All</button>
                <button id="mediaImage" ng-click="loadImage()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture media-type-button"></span></button>
                <button id="mediaVideo" ng-click="loadVideo()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-facetime-video media-type-button"></span></button>
                <button id="mediaAudio" ng-click="loadAudio()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-headphones media-type-button"></span></button>
                <button id="mediaFavorites" ng-click="showFavorites()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart media-type-button"></span></button>
            </div>
                </div>-->
            <!-- BUttons that are displayed in desktop  -->
            <!--removed for image page view
            <div style="padding-top:2px" class="btn-group btn-group-lg media-filters row  hidden-xs hidden-sm" role="group" aria-label="...">
                <button id="mediaAll" ng-click="loadAll()" type="button" class="active btn btn-default media-type-button">All</button>
                <button id="mediaImage" ng-click="loadImage()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture media-type-button"></span></button>
                <button id="mediaVideo" ng-click="loadVideo()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-facetime-video media-type-button"></span></button>
                <button id="mediaAudio" ng-click="loadAudio()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-headphones media-type-button"></span></button>
                <button id="mediaFavorites" ng-click="showFavorites()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-heart media-type-button"></span></button>
            </div>-->

            <!-- Search bar -->
            <form class="navbar-form navbar-left row search-form" role="search" ng-submit="imgPageSearch()" style="padding-top:8px;">
                <div class="input-group row" id="serchi">
                    <input type="text" ng-submit="imgPageSearch()" class="form-control" ng-model="searchTerms" placeholder="Search for...">
                    <span class="input-group-btn">
        <button data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="btn btn-default" type="button" ng-click="imgPageSearch()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>

                </div>
            </form>
            <!--Logged in / Out text and sign in button-->
            <div class="btn-group-wrap visible-xs visible-sm">
            <ul class="nav navbar-nav navbar-right row">
                <li><a href="#">{{loggedAs}}</a></li>
                <li ng-hide="loggedIn" style="margin-right:5px">
                    <button ng-click="openLogin()" type="btn" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-log-in pull-left logbutton" aria-hidden="true"></span>Sign in</button>
                    <button ng-click="openLogin()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="btn" class="btn btn-default visible-xs" style="margin-top:0px"><span class="glyphicon glyphicon-log-in pull-left logbutton" aria-hidden="true"></span>Sign in</button>
                </li>

                <li ng-show="loggedIn">
                    <button ng-click="logout()" type="btn" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-log-out pull-left logbutton" aria-hidden="true" style="margin-bottom:5px;"></span><span>Log Out</span></button>
                    <button ng-click="logout()" type="btn" class="btn btn-default visible-xs" style="margin-top:0px"><span class="glyphicon glyphicon-log-out pull-left logbutton" aria-hidden="true" style="margin-bottom:5px;"></span><span>Log Out</span></button>
                </li>

            </ul>
                </div>
            <ul class="nav navbar-nav navbar-right row hidden-sm hidden-xs">
                <li><a href="#">{{loggedAs}}</a></li>
                <li ng-hide="loggedIn" style="margin-right:5px">
                    <button ng-click="openLogin()" type="btn" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-log-in pull-left logbutton" aria-hidden="true"></span>Sign in</button>
                    <button ng-click="openLogin()" type="btn" class="btn btn-default visible-xs" style="margin-top:0px"><span class="glyphicon glyphicon-log-in pull-left logbutton" aria-hidden="true"></span>Sign in</button>
                </li>

                <li ng-show="loggedIn">
                    <button ng-click="logout()" type="btn" class="btn btn-default hidden-xs"><span class="glyphicon glyphicon-log-out pull-left logbutton" aria-hidden="true" style="margin-bottom:5px;"></span><span>Log Out</span></button>
                    <button ng-click="logout()" type="btn" class="btn btn-default visible-xs" style="margin-top:0px"><span class="glyphicon glyphicon-log-out pull-left logbutton" aria-hidden="true" style="margin-bottom:5px;"></span><span>Log Out</span></button>
                </li>

            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>