<div id="share-buttons" class="col-xs-6 pull-right">
    <!-- Facebook -->
    <div class="pull-right">
        <a href="http://www.facebook.com/sharer.php?u={{pageUrl}}" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" class="hidden-xs" />
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" class="hidden-sm hidden-lg hidden-md" style="width:35px;height:35px" />
        </a>
        <!-- Reddit -->
        <a href="http://reddit.com/submit?url={{pageUrl}}&amp;title=Here for Beer: {{singleMainImageTitle}}" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" class="hidden-xs" />
            <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" class="hidden-sm hidden-lg hidden-md" style="width:35px;height:35px" />
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com/share?url={{pageUrl}}&amp;text=Here%20for%20Beer:%20{{singleMainImageTitle}}&amp;hashtags=here for beer" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" class="hidden-xs" />
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" class="hidden-sm hidden-lg hidden-md" style="width:35px;height:35px" />
        </a>
    </div>
</div>