<div id="uploadModal-parent" class="col-xs-12">

    <!-- MOODAAAALLLL -->

    <div id="uploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Upload a File</h3>

                </div>
                <div class="modal-body">
                    <div class="row">

                        <form class="col-md-3" id="fileForm">

                            Select a file: 
                            <br>
                            <br> Title:
                            <br>
                            <input type="text" name="title"
                            placeholder="Image title"
                            class="form-control">

                            <br> Description:
                            <br>
                            <input type="text" name="description"
                            placeholder="Image description"
                            class="form-control">
                            <br>
                            <br>
                            <div class="row">
                                <div style="padding-top:5px">
                                    <button type="button" class="btn btn-default" ng-click="submitimg()">Submit</button>
                                    <span style="margin-top:5px;margin-left:7px" ng-if="workingBoolean"><img style="margin-left:20px;" class="" src="favicon.ico" /> Working...</span>
                                </div>
                                <br>
                            </div>
                        </form>
                        <div class="col-md-3 col-xs-12">
                            <div class="row">
                                <span class="btn btn-default btn-file">                   
                            Browse<input id="select-file-thing" type="file" name="file" onchange="angular.element(this).scope().loadThumb(this)"></span>
                                <br>
                                Filters:
                                <br>
                                <input type="checkbox" name="filter" value="Sepia" ng-model="editingArray.sepiaBool" ng-change="fullEdit(false)">Sepia
                                <br>
                                <input type="checkbox" name="filter" value="Ink" ng-model="editingArray.inkBool" ng-change="fullEdit(false)">Ink
                                <br>
                                <input type="checkbox" name="filter" value="vignette" ng-model="editingArray.vignetteBool" ng-change="fullEdit(false)">Vignette
                                <br>
                                <input type="checkbox" name="filter" value="vignette" ng-model="editingArray.trippyBool" ng-change="fullEdit(false)">Trippy
                                <br>
                                <input type="checkbox" name="filter" value="vignette" ng-model="editingArray.zoomBool" ng-change="fullEdit(false)">Sanic
                                <br>
                                <input type="checkbox" name="filter" value="vignette" ng-model="editingArray.tiltBool" ng-change="fullEdit(false)">Tiltshift
                                <br>
                                <input type="checkbox" name="filter" value="reset" checked ng-model="editingArray.resetBool" ng-change="fullEdit(true)" checked>None

                                <!--<button ng-click="addSepia()">Jess</button>
                                <button ng-click="addInk()">Kyllä</button>
                                <button ng-click="addVignette()">vinni</button>
                                <button ng-click="resetEdits()">reset</button>-->
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            Preview
                            <br>
                            <canvas class="pull-left thumbnail img-responsive" id="preview-img"></canvas>

                        </div>
                    </div>
                </div>

                <!--text and icon for success and failure of upload-->
                <div style="color:red;margin-left:10px" ng-show="uploadFail" style="display:inline-block">
                    <span style="display:inline-block" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; padding-top:15px"></span>
                    <p style="display:inline-block">Error while uploading, try again.</p>
                </div>
                <div style="color:#0aee25;margin-left:10px" ng-show="uploadSucc" style="display:inline-block">
                    <span style="display:inline-block" class="glyphicon glyphicon-ok" aria-hidden="true" style="color:red; padding-top:15px"></span>
                    <p style="display:inline-block">Upload Succesfull!</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!--END MODAAAAAALLLLL-->

</div>