<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Beer is Here</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/imagestyle.css">
    <link rel="stylesheet" type="text/css" href="styles/navbar-style.css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>


<body ng-controller="ParentController">
    <div id="singleImageContainer" ng-controller="SingleImageController">
        <div ng-controller="NavbarController">
            <nav-bar-image></nav-bar-image>
            <div ng-controller="UploadController">
                <upload-modal></upload-modal>
            </div>
            <div ng-controller="LoginController">
                <login-modal></login-modal>
            </div>

        </div>
        <div class="prev-next-media row">
            <button class="btn btn-default pull-left col-xs-4 col-md-2" ng-click="openPrevImage()" ng-if="notFirstImageCheck" id="previous"><span class="glyphicon glyphicon-chevron-left pull-left"></span>Previous</button>
            <button class="btn btn-default pull-right col-xs-4 col-md-2" ng-click="openNextImage()" id="next">Next<span class="glyphicon glyphicon-chevron-right pull-right"></span></button>
        </div>
        <div class="imagetitle col-xs-12 text-center">
            <p class="visible-lg visible-md pull-left image-title" id="title-vis-md">{{singleMainImageTitle}}</p>
            <p class="visible-sm pull-left image-title" id="title-vis-sm">{{singleMainImageTitle}}</p>
            <p class="visible-xs pull-left image-title" id="title-vis-xs">{{singleMainImageTitle}}</p>
            <h2 class="visible-lg visible-md pull-right image-uploader" id="user-vis-md">By user:  <a href="#" id="fileUpper" ng-click="goToUserFiles($event)" data-uid="{{imageUploader.userId}}">{{imageUploader.username}}</a></h2>
            <h3 class="visible-sm pull-right image-uploader" id="user-vis-sm">By user: <a data-uid="{{imageUploader.userId}}" href="#" ng-click="goToUserFiles($event)">{{imageUploader.username}}</a></h3>
            <h4 class="visible-xs pull-right image-uploader" id="user-vis-xs">By user: <a data-uid="{{imageUploader.userId}}" href="#" ng-click="goToUserFiles($event)">{{imageUploader.username}}</a></h4>

        </div>
        <div class="img-container row" id="imagecontainer">
            <!-- image is here it is appended in js-->
        </div>
        <div class="row">

            <!--<div class="imageinfo col-xs-12 col-md-10 col-sm-10 col-sm-offset-1 col-lg-offset-1 col-lg-10 col-md-offset-1">
                <h2 class="visible-lg visible-md">By user:  <a href="#">{{imageUploader.username}}</a></h2>
                <h3 class="visible-sm">By user: <a href="#">{{imageUploader.username}}</a></h3>
                <h4 class="visible-xs">By user: <a href="#">{{imageUploader.username}}</a></h4>-->
            <div class="imageinfo col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                <h3 id="imagedesc">{{singleImage.description}}</h3>
            </div>
            <!--

            </div>-->
        </div>


        <div class="row">
            <div id="imagetoolsandshare" class="imagetoolsandshare col-xs-12 col-md-10 col-sm-12 col-lg-offset-1 col-lg-10 col-md-offset-1" style="margin-bottom:10px;" ng-controller="ImageToolsController">
                <image-tools></image-tools>
                <share-buttons></share-buttons>
                <div id="leaveComment" ng-controller="PostCommentController">
                    <commenting-box></commenting-box>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="comment in imageComments">
            <image-comment></image-comment>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/glfx-bower/glfx.js"></script>
    <!-- Include angular files & plugins -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>


    <!--Controllers-->
    <script src="scripts/controllers/parentController.js"></script>
    <script src="scripts/controllers/navbarController.js"></script>
    <script src="scripts/controllers/loadImagesContoller.js"></script>
    <script src="scripts/controllers/uploadController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/controllers/editController.js"></script>
    <!--Directive-->
    <script src="scripts/directives/nav-bar.js"></script>
    <script src="scripts/directives/upload-modal.js"></script>
    <script src="scripts/directives/login-modal.js"></script>
    <script src="scripts/directives/share-buttons.js"></script>
    <script src="scripts/directives/image-tools.js"></script>
    <script src="scripts/directives/image-comment.js"></script>
    <script src="scripts/directives/nav-bar-image.js"></script>
    <!--regular javascript-->
    <script src="scripts/normJavascrpt/script.js"></script>
    <!--Services-->
    <script src="scripts/services/sharedVariables.js"></script>
    <script src="scripts/services/ajaxFactory.js"></script>
    <!--Page Specific-->
    <script src="scripts/controllers/singeImageController.js"></script>
    <script src="scripts/controllers/postCommentController.js"></script>
    <script src="scripts/directives/commenting-box.js"></script>
    <script src="scripts/controllers/ImageToolsController.js"></script>
    <script src="scripts/notify.min.js"></script>
    <script src="scripts/notify.js"></script>

</body>

</html>