<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Beer is Here</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/navbar-style.css">
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body ng-controller="ParentController">

    <!-- NAVBAR AND CONTAINED MODALS-->
    <!--navbar first and all modals inside-->
    <div ng-controller="NavbarController">
        <nav-bar></nav-bar>
        <div ng-controller="UploadController">
            <upload-modal></upload-modal>
        </div>
        <div ng-controller="LoginController">
            <login-modal></login-modal>
            <login-modal></login-modal>
        </div>

    </div>

    <!--IMAGE BOXES TODO: MAKE THIS A DIRECTIVE-->
    <div ng-controller="LoadImagesController">
<div class="container-fluid jumbotron">
            <div class="row" ng-controller="filterController">
                <div class="col-xs-12">
                    <div class="pull-left col-md-5 col-sm-4 col-xs-12">
                        <h2 ng-if="sharedVariables.mediaFilterType === '' && checkUppedByUser" style="color:white" class="pull-left">Showing all</h2>
                        <h2 ng-if="sharedVariables.mediaFilterType === 'image' && checkUppedByUser" style="color:white" class="pull-left">Showing images</h2>
                        <h2 ng-if="sharedVariables.mediaFilterType === 'video' && checkUppedByUser" style="color:white" class="pull-left">Showing video</h2>
                        <h2 ng-if="sharedVariables.mediaFilterType === 'audio' && checkUppedByUser" style="color:white" class="pull-left">Showing audio</h2>
                        <h2 ng-if="sharedVariables.mediaFilterType === '' && !checkUppedByUser" style="color:white" class="pull-left">Showing user submissions</h2>
                        <h2 ng-if="sharedVariables.mediaFilterType === 'image' && !checkUppedByUser" style="color:white" class="pull-left">Showing user images</h2>
                        <h2 ng-if="sharedVariables.mediaFilterType === 'video' && !checkUppedByUser" style="color:white" class="pull-left">Showing user videos</h2>
                        <h2 ng-if="sharedVariables.mediaFilterType === 'audio' && !checkUppedByUser" style="color:white" class="pull-left">Showing user audios</h2>

                    </div>
                    <div class="col-md-7 col-xs-12 hidden-xs hidden-sm" id="searchTerms" ng-if="sharedVariables.searcheds.length > 0">
                        <!--FULLSCREEN VIEW SEARCHTERMS-->
                        <div>
                            <h2 class="pull-left hidden-xs" style="color:white">SEARCH TERMS:  {{sharedVariables.searcheds}}</h2>
                            <h4 class="pull-left visible-xs" style="color:white">SEARCH TERMS: {{sharedVariables.searcheds}}</h4>
                        </div>
                        <div class="pull-right" id="search-x" style="cursor:pointer">
                            <a ng-click="removeSearch()" style="color:white;padding-top:20px;padding-left:5px;" class="pull-left glyphicon glyphicon-remove  hidden-xs close"></a>
                            <a ng-click="removeSearch()" style="color:white;padding-top:12px" class="visible-xs pull-left glyphicon glyphicon-remove close"></a>
                        </div>
                    </div>
                    <!-- THIS IS THE FILTERTYPE AND SEARCH TERMS FOR MOBILE && STILL IN PROGRESS -->
                    <div class="col-md-7 col-xs-12 visible-xs visible-sm" id="searchTermsSm" ng-if="sharedVariables.searcheds.length > 0">
                        <div>
                            <h2 class="pull-left hidden-xs" style="color:white">SEARCH TERMS:  {{sharedVariables.searcheds}}</h2>
                            <h2 class="pull-left visible-xs" style="color:white">SEARCH TERMS: {{sharedVariables.searcheds}}</h2>
                        </div>
                        <div class="pull-right" id="search-x" style="cursor:pointer">
                            <a ng-click="removeSearch()" style="color:white;padding-top:20px;padding-left:5px;" class="pull-left glyphicon glyphicon-remove  hidden-xs close"></a>
                            <a ng-click="removeSearch()" style="color:white;padding-top:12px" class="visible-xs pull-left glyphicon glyphicon-remove close"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="main-container col-lg-offset-1 col-lg-10">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 image-container" ng-repeat="file in sharedVariables.stuff  | filter : sharedVariables.mediaFilterType | limitTo:sharedVariables.loadAmount track by $index">
            <!--{type:sharedVariables.mediaFilterType}:true        limitTo:sharedVariables.loadAmount-->
            <div class="wrapper" style="display:inline">
                <h1 id="index-image-title"><a ng-click="openImage(file.fileId)" href="#" style="color:white">{{file.title}}  </a>                      
                    <span ng-if="file.type === 'video'" class="glyphicon glyphicon-facetime-video pull-right"></span>
                    <span ng-if="file.type === 'image'" class="glyphicon glyphicon-picture pull-right"></span>
                    <span ng-if="file.type === 'audio'" class="glyphicon glyphicon-headphones pull-right"></span></h1>

            </div>
            <div class="box-for-img" ng-click="openImage(file.fileId)" ng-if="file.type !== 'audio'">
                <a href="#"><img ng-src="http://util.mw.metropolia.fi/uploads/{{file.thumbNails.small}}" class="first-img img-responsive img-thumbnail" /></a>
            </div>
            <div class="box-for-img" ng-click="openImage(file.fileId)" ng-if="file.type === 'audio'">
                <a href="#"><img ng-src="images/audio_file.png" class="first-img img-responsive img-thumbnail" /></a>
            </div>

            <!--<div class="img-icons row" style="display:block">
                <div class="pull-left">
                    <span class="glyphicon glyphicon-arrow-up"></span>#U
                    <span class="glyphicon glyphicon-comment"></span>#C</div>



            </div>-->
        </div>
        <!--<div class="col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-3">
            <button ng-click="increment()" id="loadMoreButton" class="btn btn-default col-xs-12"><span class="glyphicon glyphicon-chevron-down pull-left"></span>Load More Media<span class="pull-right glyphicon glyphicon-chevron-down"></span></button>
        </div>-->


    </div>
    </div>

    <login-modal></login-modal>

    </div>
    <!-- END IMAGE BOX -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/glfx-bower/glfx.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Include angular files & plugins -->
    <script src="../bower_components/angular/angular.js"></script>

    <!-- Include My App's JS file(s)-->
    <script src="scripts/app.js"></script>

    <!--Controllers-->
    <script src="scripts/controllers/parentController.js"></script>
    <script src="scripts/controllers/navbarController.js"></script>
    <script src="scripts/controllers/loadImagesContoller.js"></script>
    <script src="scripts/controllers/uploadController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/controllers/filterController.js"></script>
    <script src="scripts/controllers/editController.js"></script>
    <!--Directive-->
    <script src="scripts/directives/nav-bar.js"></script>
    <script src="scripts/directives/upload-modal.js"></script>
    <script src="scripts/directives/login-modal.js"></script>
    <!--regular javascript-->
    <script src="scripts/normJavascrpt/script.js"></script>
    <!--Services-->
    <script src="scripts/services/sharedVariables.js"></script>
    <script src="scripts/services/ajaxFactory.js"></script>
    <script src="scripts/notify.js"></script>

</body>

</html>