<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header pull-left row">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" ng-click="deletePreviousData()"><img id="brand-image" src="favicon.ico" /></a>
        </div>
        <!--THESE SHOULD BE STICKY, DO NOT COLLAPSE WITH NAVBAR-->
        <div class="navbar-header pull-right row">
            <div class="pull-left">
                <!--REFRESH AND UPLOAD BUTTON-->
                <ul class="nav navbar-nav list-inline">
                    <li ng-click="openUpload()" class="navbar-non-collapse" id="uploadButton"><a href="#"><span class="ikonit glyphicon glyphicon-open"></span></a></li>
                    <li class="navbar-non-collapse" ng-click="refresh()"><a href="#"><span class="ikonit glyphicon glyphicon-refresh"></span></a></li>
                </ul>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">

            <div class="col-lg-4 col-md-4 col-sm-4 row" style="padding-top:10px">

                <div class="input-group row">
                    <input type="text" class="form-control" ng-model="searchTerms" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="submitSearch()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>

                </div>
                <!-- /input-group -->
            </div>


            <!-- FOUR BUTTONS FOR SWITCHING MEDIA -->
            <div style="padding-top:3px" class="btn-group btn-group-lg row" role="group" aria-label="...">
                <button id="mediaAll" ng-click="loadAll()" type="button" class="active btn btn-default media-type-button">All</button>
                <button id="mediaImage" ng-click="loadImage()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture media-type-button"></span></button>
                <button id="mediaVideo" ng-click="loadVideo()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-facetime-video media-type-button"></span></button>
                <button id="mediaAudio" ng-click="loadAudio()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-headphones media-type-button"></span></button>
            </div>


            <!--LOG OUT / IN BUTTON AND TEXT -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" >{{loggedAs}}</a>
                </li>
                <li ng-hide="loggedIn" style="margin-right:5px">
                    <button ng-click="openLogin()" type="btn" class="btn btn-default col-xs-12"><span class="glyphicon glyphicon-log-in pull-left logbutton" aria-hidden="true"></span>Sign in</button>
                </li>
                <li ng-show="loggedIn">
                    <button ng-click="logout()" type="btn" class="btn btn-default col-xs-12 "><span class="glyphicon glyphicon-log-out pull-left logbutton" aria-hidden="true" style="margin-bottom:5px;"></span><span  class="visible-lg">Log Out</span></button>
                </li>
            </ul>


        </div>


        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>